name: build by tag

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'

env:
  ARTIFACT_VERSION: ${{ github.ref_name }}

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.20'

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: Verify go.mod is sane
      run: go mod tidy && git diff --no-patch --exit-code

    - name: Install dependencies
      run: go mod download

    - name: Run code lint
      uses: golangci/golangci-lint-action@v3.7.0
      with:
        args: --timeout=3m

    - name: Verify build
      run: make dev

    - name: Make binaries
      run: |
        set -euo pipefail
        sudo apt update
        sudo apt install -y upx
        hack/install-gox.sh
        make deploy

    - name: Create release
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ github.ref }}
        release_name: Release ${{ github.ref }}
        draft: false
        prerelease: false

    - name: Upload binaries to release
      uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        # hacky glob pattern because this does not accept multiple patterns
        file: out/kubectl-nsenter-*.*
        tag: ${{ github.ref }}
        overwrite: true
        file_glob: true

    - name: Update new version in krew-index
      uses: rajatjindal/krew-release-bot@v0.0.46
