name: build by commit

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  ARTIFACT_VERSION: ${{ github.ref_name }}

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.17

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: Verify go.mod is sane
      run: go mod tidy && git diff --no-patch --exit-code

    - name: Run code lint
      run: make lint

    - name: Install dependencies
      run: go mod download

    - name: Verify build
      run: make dev
